<%= form_with model: @order, url: potepan_cart_path, local: true do |f| %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>商品名</th>
          <th>価格</th>
          <th>数</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "line_item", collection: line_items, locals: { f: f } %>
      </tbody>
    </table>
  </div>
  <div class="updateArea">
    <%= f.submit "アップデート", class: "btn" %>
  </div>
    <%= render 'total_amount', order: order %>
  <div class="checkBtnArea">
    <%= f.button class: "btn btn-primary btn-block", name: "checkout" do %>
      購入する<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
    <% end %>
  </div>
<% end %>