<ul class="list-unstyled">
  <li>
    <%= link_to potepan_category_path(taxon.id, value: color.presentation) do %>
      <%= color.presentation %><span>(<%= option_products_count(value:color, category:taxon)%>)</span>
    <% end %>
  </li>
</ul>