<%= form_with url: potepan_populate_path, local: true do |f| %>
  <% if product.has_variants? %>
    <span class="quick-drop">
      <%= f.select(:variant_id,
        options_from_collection_for_select(variants,
          :id, :options_text, variants.first.id),
            { }, { class: "select-drop" }
      )%>
    </span>
  <% else %>
    <%= f.hidden_field(:variant_id, value: product.master.id) %>
  <% end %>
  <span class="quick-drop resizewidth">
    <%= f.select(:quantity, [1,2,3,4,5], { }, { class: "select-drop" } )%>
  </span>
  <div class="btn-area">
    <%= f.button class: "btn btn-primary btn-block", type: "submit" do %>
      カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i>
    <% end %>
  </div>
<% end %>