<div class="row singleProduct">
  <div class="col-xs-12">
    <div class="media">
      <div class="media-left productSlider">
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% product.images.each_with_index do |image, index| %>
              <div class="item <%= "active" if index.zero? %>" data-thumb="<%= index %>">
                <%= image_tag(image.url(:large) ) %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="clearfix">
          <div id="thumbcarousel" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
              <% product.images.each_with_index do |image, index| %>
                <div data-target="#carousel" data-slide-to="<%= index %>" class="thumb">
                  <%= image_tag(image.url(:small) ) %>
                </div>
              <% end %>
            </div>
            <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="media-body" id="media_body">
        <ul class="list-inline">
          <li>
            <%= link_to potepan_category_path(@product.taxons.first.id) do %>
              一覧ページへ戻る<i class="fa fa-reply" aria-hidden="true"></i>
            <% end %>
          </li>
        </ul>
        <h2><%= @product.name %></h2>
        <h3><%= @product.display_price %></h3>
        <p><%= @product.description %></p>
        <%= render 'cart_form', product: product, variants: product.variants %>
      </div>
    </div>
  </div>
</div>