<% provide(:title, @search_keyword) %>
<div class="main-wrapper">
  <%= render "shared/light_section", page_title: @search_keyword %>
  <!-- MAIN CONTENT -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <%= render partial: 'shared/product', collection: @search_products, locals: { bootstrap: "col-md-3 col-sm-6 col-xs-12" } %>
      </div>
    </div>
  </section>
  <%= render 'shared/partners_logo' %>
</div>
<%= render "shared/signup_modal" %>
<%= render "shared/login_modal" %>