<% provide(:title, @product.name) %>
<div class="main-wrapper">
  <%= render "shared/light_section", page_title: @product.name %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <%= render 'detail_product', product: @product %>
      <div class="row productsContent">
        <div class="col-xs-12">
          <div class="page-header">
            <h4>関連商品</h4>
          </div>
        </div>
        <%= render partial: "shared/product", collection: @related_products, locals: { bootstrap: "col-md-3 col-sm-6 col-xs-12" } %>
      </div>
    </div>
  </section>
</div>
<%= render "shared/signup_modal" %>
<%= render "shared/login_modal" %>