<div class="col-sm-4 col-xs-12">
  <div class="thumbnail" onclick="location.href='<%= potepan_category_path(category.id) %>';">
    <div class="imageWrapper">
      <%= image_tag("home/featured-collection/#{category.name.downcase}.jpg", :alt => "feature-collection-image") %>
      <div class="masking">
        <%= link_to potepan_category_path(category.id), class: "btn viewBtn" do %>
          View <%= category.name %>
        <% end %>
      </div>
    </div>
    <div class="caption">
      <h4><%= category.name %></h4>
    </div>
  </div>
</div>
