<div class="main-wrapper">
  <%= render "banner" %>

  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row featuredCollection">
        <div class="col-xs-12">
          <div class="page-header">
            <h4>人気カテゴリー</h4>
          </div>
        </div>
        <%= render partial: "popular_categories", collection: @categories, as: :category %>
      </div>
      <div class="row featuredProducts" id="new_release">
        <div class="col-xs-12">
          <div class="page-header">
            <h4>新着商品</h4>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="owl-carousel featuredProductsSlider">
            <%= render partial: "shared/product", collection: @new_release_products, locals: { bootstrap: "slide" } %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render "shared/partners_logo" %>
</div>

<%= render "shared/modal_product_view" %>

