<h3><%= @ship_address.full_name %>様<br>(注文番号:<%= @order.number %>)</h3>
<div>この度は、<%= @store.name %>をご利用いただきまして、ありがとうございます。</div>
<div>今回のご注文内容は以下のとおりです。ご確認くださいませ。</div>
<hr style="margin:20px 10px;">
<article style="margin:10px;">
  <div>
    <h4>お届け先</h4>
    <div>
      <div>
        <strong><%= @ship_address.full_name %></strong><br>
        <%= "〒 #{@ship_address.zipcode}" %><br>
        <%= "#{@ship_address.city}, #{@ship_address.state}, #{@ship_address.address1}" %><br>
      </div>
    </div>
    <span>メールアドレス:</span><a href="mailto:<%= @order.email %>"><%= @order.email %></a><br>
    <span>電話番号:</span><%= @ship_address.phone %>
  </div>
  <div>
    <h4>ご注文内容</h4>
    <% @order.line_items.each do |line_item| %>
      <section style="margin:10px;">
        <% variant = line_item.variant %>
        <strong><%= line_item.name %></strong>
        <div class="cartImage">
          <%= image_tag(line_item.variant.display_image.url(:small), :alt => "image") %>
        </div>
        <div>数量:<%= line_item.quantity %></div>
        <div>単価:<%= line_item.display_price %></div>
        <div>金額:<%= line_item.display_amount unless line_item.quantity.nil? %></div>
      </section>
    <% end %>
  </div>
  <div>
    <h4>お会計</h4>
    <div>小計:<%= @order.display_item_total %></div>
    <div>消費税:<span><%= @order.display_tax_total %></span></div>
    <div>総計:<span><%= @order.display_total %></span></div>
  </div>
</article>
<hr style="margin:20px 10px;">
<div>
  <div>またのご利用をお待ちしております！</div>
  <div><%= @store.name %></div>
</div>