<div class="col-xs-12">
  <div class="page-header">
    <h4>入力フォーム</h4>
  </div>
</div>
<%= f.fields_for :ship_address do |a| %>
  <div class="form-group col-sm-6 col-xs-12">
    <%= a.label :last_name, "性" %>
    <%= a.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group col-sm-6 col-xs-12">
    <%= a.label :first_name, "名" %>
    <%= a.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group col-sm-6 col-xs-12">
    <%= a.label :phone, "電話番号" %>
    <%= a.telephone_field :phone, class: "form-control" %>
  </div>

  <div class="form-group col-sm-6 col-xs-12">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group col-sm-6 col-xs-12">
    <%= a.label :zipcode, "郵便番号"%>
    <%= a.text_field :zipcode, class: "form-control" %>
  </div>

  <div class="form-group col-sm-6 col-xs-12">
    <%= a.label :state, '都道府県' %>
    <%= a.collection_select :state_id, order.ship_address.country.states, :id, :name, {}, { class: "form-control" } %>
  </div>

  <div class="form-group col-sm-6 col-xs-12">
    <%= a.label :city, "市町村" %>
    <%= a.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group col-sm-6 col-xs-12">
    <%= a.label :address1, "番地" %>
    <%= a.text_field :address1, class: "form-control" %>
  </div>
<% end %>