<%= f.hidden_field :firstname %>
<%= f.hidden_field :lastname %>
<%= f.hidden_field :company %>
<%= f.hidden_field :address1 %>
<%= f.hidden_field :address2 %>
<%= f.hidden_field :city %>
<%= f.hidden_field :country_id %>
<%= f.hidden_field :state_id %>
<%= f.hidden_field :state_name %>
<%= f.hidden_field :zipcode %>
<%= f.hidden_field :phone %>
<%= f.hidden_field :alternative_phone %>