<div class="col-xs-12">
  <div class="page-header">
    <h4>お支払い方法</h4>
  </div>
</div>
<% credit_card = order.payment_by("Credit Card") %>
<%= hidden_field_tag "order[payments_attributes][][payment_method_id]", credit_card.id %>
<%= render credit_card.partial_name, order: order, payment_method: credit_card %>