<div class="col-xs-12">
  <div class="well well-lg clearfix">
    <ul class="pager">
      <li class="previous">
        <% if order.address? %>
          <%= link_to "戻る", potepan_cart_path %>
        <% else %>
          <%= link_to "戻る", potepan_checkout_state_path(order.previous_state) %>
        <% end %>
      </li>
      <li class="next">
        <%= f.submit order.confirm? ? "購入確定" : "次へ", class: "next-btn" %>
      </li>
    </ul>
  </div>