.stepsWrapper .innerWrapper .well .pager li .next-btn {
  border: none;
  box-shadow: none;
  padding: 0;
  height: 45px;
  line-height: 45px;
  background-color: #47bac1;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.pager .next > .next-btn {
  float: right;
}

.stepsWrapper .innerWrapper .well .pager li .next-btn:hover {
  background-color: #4794c1;
  color: #ffffff;
}

@media (max-width: 479px) {
  .stepsWrapper .innerWrapper .well .pager li .next-btn {
    width: 100%;
    margin-bottom: 0;
  }
}
@media (min-width: 480px) {
  .stepsWrapper .innerWrapper .well .pager li .next-btn {
    width: 136px;
    margin: 0;
  }
}